$width-column: 200px;

.catalog {
  display: grid;
  grid-template-columns: repeat(1, $width-column);
  gap: 48px;
  max-width: 944px;
  margin: 0 auto;

  &__card {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

$width: 
  488px 2,
  768px 3,
  1024px 4;

@each $size, $column in $width {
  @media (min-width: $size) {
    .catalog {
      grid-template-columns: repeat($column, $width-column);
    }
  }
}
